:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: auto;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

.center-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justified-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}


strong {
  padding: 2px 4px;
  background-color: #5BD2DC40;
  color: #3C3D3D;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  color: #3C3D3D;
}

.abt-back {
  width: 200;
  height: 300; 
  border-width: 5; 
  border-color: #5BD2DC20;
}

footer {
  border-top: 1px solid #00000020;
  padding: 12px 0;
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.footer-text {
  margin-right: 16px;
  text-decoration: underline;
  font-size: 14px;
}

.title {
  color: #4B8085;
  margin-bottom: 24px;
}

.title-thin {
  color: #4B8085;
  font-weight: 200;
  font-size: 38px;
}

.title-large {
  color: #4B8085;
  font-size: 64px;
}

.title-small {
  color: #3C3D3D;
  font-weight: bold;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.show-more-btn {
  border: none;
  font-family: Poppins, sans-serif;
  background-color: #5BD2DC40;
  padding: 20px 40px;
  border-radius: 40px;
}

.back-icon {
  transform: rotate(180deg);
  margin-right: 4px;
}

.back-btn {
  background-color: #4B8085;
  color: white;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  padding: 4px 16px 4px 12px;
  border-radius: 24px;
  margin-right: 12px;
  cursor: pointer;
}

/* Mobile View Styles */
@media (max-width: 480px){
  .title-large {
    font-size: 28px;
  }

  .title-thin {
    font-size: 24px;
  }

  .title {
    margin: 24px 0;
    font-size: 24px;
    text-align: center;
    padding: 8px 0;
    border: 3px solid #5BD2DC40;
    border-left-width: 0;
    border-right-width: 0;
  }

  p {
    font-size: 16px;
  }

  .center-container {
    padding: 24px;
  }
  
  .back-btn {
    padding: 12px;
  }

  .back-icon {
    margin: 0;
  }
}
