.header {
    height: 64;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #00000020;
}

.links {
    padding: 24;
    width: '100%';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainLink {
    font-size: var(--mantine-font-size-xs);
    margin: 24px;
    border-bottom: 2px solid transparent;
    transition:
      border-color 100ms ease,
      color 100ms ease;
  
    @mixin hover {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      text-decoration: none;
    }
  
    &[data-active] {
      color: #4B8085;
      font-weight: bold;
      border-bottom-color: #4B8085;
    }
}

.mainLink:last-child {
  margin-right: 0;
}
