/* project approach */
.approach-number-1, .approach-number-2, .approach-number-3 {
    width: 42px;
    height: 42px;
    margin: 12px 0;
    border-radius: 30px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approach-number-1 {
    background-color: #4B8085;
    color: white;
}

.approach-number-2 {
    background-color: #5BD2DC;
    color: white;
}

.approach-number-3 {
    background-color: #FFA984;
    color: white;
}

.approach-text-1,
.approach-text-2,
.approach-text-3 {
    font-weight: bold;
    margin-bottom: 12px;
}

.approach-text-1 {
    color: #4B8085;
}

.approach-text-2 {
    color: #5BD2DC;
}

.approach-text-3 {
    color: #FFA984;
}

.profile-spacing {
    margin: 64px 0;
}

/* project details */
.details-grid {
    display: grid;
    grid-template-columns: 5;
    height: 100%;
}

.deliverables {
    grid-column: 1 / 3;
    max-width: 650px;
}

.date {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    max-width: 175px;
}

.stack {
    max-width: 214px;
    grid-column: 5;
    display: flex;
    flex-direction: column;
}

/* project list item */
.project-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 48px 96px;
}

.text-column {
    width: 100%;
    padding: 24px;
    margin: 0 48px;
}

/* project more */
.disclaimer {
    border-radius: 8px;
    background-color: #F5F5F5;
    padding: 24px;
}

.disclaimer-bold {
    color: black;
    font-weight: bold;
}

/* project profile */
.tag, .tag-orange {
    border-radius: 24;
    padding: 4 12;
    font-size: 14px;
    width: fit-content;
    margin: 12 16 0 0;
}

.tag {
    background-color: #5BD2DC40;
}

.tag-orange {
    margin-left: 24px;
    margin-bottom: 8px;
    background-color: #FFD8BA;
}

.project-image {
    width: 100%;
    height: auto;
    margin: 48px 0;
    border-radius: 8px;
}

@media (max-width: 480px){
    .tag {
        background-color: #5BD2DC40;
        font-size: 12px;
    }

    .tag-orange {
        font-size: 12px;
        margin-left: 4px;
    }

    .project-image {
        height: 300px;
    }

    .project-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin: 0;
    }

    .details-grid {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .deliverables {
        width: 100%
    }
    
    .date {
        width: 100%;
        margin-top: 24px;
    }
    
    .stack {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .profile-spacing {
        margin: 0;
    }

    .text-column {
        width: 100%;
        padding: 24px 0 0 0;
        margin: 0;
    }
}
